/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

a:link {
  color: #003399;
}

a:visited {
  color: #003399;
}

a:hover {
  color: #003399;
}

